:root {
    --ion-color-primary: #deff24;
    --ion-background-color: #ffffff;
    --ion-text-color: #222;
  }
  
  body.dark {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-color-primary: #deff24;
  }
  